
<div class="flex items-center justify-center min-h-screen">
   <form class="login-form max-w-sm w-full" [formGroup]="form" (ngSubmit)="onSubmit()">
      <img src="assets/img/logo.svg" alt="logo" class="mx-auto mb-5" width="100" />
      <h1 class="text-center text-3xl font-bold text-wine mb-5">Registración</h1>
   
      <div class="mb-5">
         <label for="email" class="block mb-2 text-sm font-medium text-gray-900">Correo electrónico</label>
         <input formControlName="email" type="email" id="email" placeholder="Ingrese su correo"
         class="bg-white border border-wine-light text-gray-900 text-sm rounded-lg focus:ring-wine focus:border-wine block w-full p-2.5" />
         @if(form.get('email')?.touched && form.get('email')?.invalid){
            <div class="text-red-500 text-sm mt-1">
            El correo es obligatorio.
            </div>
   
         }
      </div>
   
      <div class="mb-5">
         <label for="password" class="block mb-2 text-sm font-medium text-gray-900">Contraseña</label>
         <input formControlName="password" type="password" id="password" placeholder="Ingrese su contraseña"
         class="bg-white border border-wine-light text-gray-900 text-sm rounded-lg focus:ring-wine focus:border-wine block w-full p-2.5" />
   
         @if(form.get('password')?.touched && form.get('email')?.invalid){
            
            <div class="text-red-500 text-sm mt-1">
            La contraseña es obligatoria.
            </div>
         }
   </div>
   <div class="mb-5">
      <label for="password" class="block mb-2 text-sm font-medium text-gray-900">Repite la contraseña</label>
      <input formControlName="confirmPassword" id="confirmPassword" type="password"  placeholder="Ingrese su contraseña"
      class="bg-white border border-wine-light text-gray-900 text-sm rounded-lg focus:ring-wine focus:border-wine block w-full p-2.5" />

      @if(form.get('password')?.touched && form.get('email')?.invalid){
         
         <div class="text-red-500 text-sm mt-1">
         La contraseña es obligatoria.
         </div>
      }
</div>
      <button type="submit"
         class="text-white bg-wine hover:bg-wine-dark focus:ring-4 focus:outline-none focus:ring-wine-light font-medium rounded-lg text-sm w-full px-5 py-2.5 text-center">
         Registrar
      </button>
   
      <div class="mt-5 text-center">
         <span class="text-sm">¿Ya tienes una cuenta? </span>
         <a routerLink="/login" class="text-wine font-bold hover:underline login-link">Login</a>
      </div>
   </form>
   </div>