
<nav class="bg-white  dark:bg-gray-900 py-2">
  <div class="container flex flex-wrap items-center justify-between mx-auto mt-1 px-4">
    <div class="logo cursor-pointer" [routerLink]="['/home']">
        <img src="assets/img/Logodev.png" class="h-36 w-auto" alt="logo"/>
    </div>
    
    <button
      class="inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
      type="button"
      aria-controls="navbar-user"
      aria-expanded="false"
      (click)="isMenuOpen = !isMenuOpen">
      <span class="sr-only">Open main menu</span>
      <svg
        class="w-6 h-6"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        aria-hidden="true">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
      </svg>
    </button>

    <div [class.hidden]="!isMenuOpen" class="items-center justify-between w-full md:flex md:w-auto md:order-1" id="navbar-user">
      <ul class="flex flex-col md:flex-row items-center md:space-x-8 p-4 md:p-0 mt-4  bg-gray-50 rtl:space-x-reverse md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
        

        <li>
          <a [routerLink]='["/home"]' aria-current="page"> {{ 'NAV.INICIO' | translate }} </a>
        </li>
        <li>
          <a [routerLink]='["/tienda"]'> {{ 'NAV.VINOS' | translate }} </a>
        </li>
        <li>
          <a [routerLink]='["/events"]'> {{ 'NAV.EVENTOS' | translate }} </a>
        </li>
        <li>
          <a [routerLink]='["/bodegas"]'> {{ 'NAV.BODEGAS' | translate }} </a>
        </li>
        <li>
          <a [routerLink]='["/bodegas"]'> {{ 'NAV.TIENDAS' | translate }} </a>
        </li>

        <button
        [routerLink]='["/quiiz"]'>
        {{ "NAV.ENCUENTRA TU VINO IDEAL" | translate }}
        </button>
 <div *ngIf="isLoaded">

  <select (change)="switchLang($event)" [value]="currentLang">
    <option value="es">Español</option>
    <option value="en">English</option>
    <option value="ru">Русский</option>
  </select>
</div>


      </ul>
    </div>
  </div>
</nav>


<router-outlet></router-outlet>
