
<nav class="bg-white  dark:bg-gray-900 py-1">
  <div class="container flex flex-wrap items-center justify-between mx-auto mt-10 px-4">
    <div class="logo cursor-pointer" [routerLink]="['/home']">
        <img src="assets/img/logologo.png" class="h-10 w-auto" alt="logo"/>
    </div>
    
    <button
      class="inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
      type="button"
      aria-controls="navbar-user"
      aria-expanded="false"
      (click)="isMenuOpen = !isMenuOpen">
      <span class="sr-only">Open main menu</span>
      <svg
        class="w-6 h-6"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        aria-hidden="true">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
      </svg>
    </button>

    <div [class.hidden]="!isMenuOpen" class="items-center justify-between w-full md:flex md:w-auto md:order-1" id="navbar-user">
      <ul class="flex flex-col md:flex-row items-center md:space-x-8 p-4 md:p-0 mt-4  bg-gray-50 rtl:space-x-reverse md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
        

        <li class="flex">
          <a [routerLink]="['/home']">{{ 'NAV.INICIO' | translate}}</a>
        </li>
        <li class="flex">
          <a [routerLink]='["/events"]' >{{ 'NAV.EVENTOS' | translate}}</a>
        </li>
        <li class="flex">
          <a [routerLink]='["/bodegas"]'>{{ 'NAV.BODEGAS' | translate}}</a>
        </li>
        <li class="flex">
          <a [routerLink]='["/tienda"]'>{{ 'NAV.TIENDA' | translate}}</a>
        </li>
        

        <li class="flex">
          <a 
          [routerLink]='["/quiiz"]' 
            class="wine-btn">
            {{ 'NAV.ENCUENTRA TU VINO IDEAL' | translate}}
          </a>
        </li>
        <li>
          <select (change)="changeLanguage($any($event.target).value)" [value]="currentLang()" class="language-select">
      <option value="en">En</option>
      <option value="es">Es</option>
      <option value="ru">Ru</option>
    </select>
        </li>
        <li *ngIf="!authService.isAuthenticated()" class="flex">
          <div class="flex">
            <a href="/login" class="font-semibold text-gray-900 rounded hover:text-[#6dab00] md:hover:text-[#6dab00] px-3 dark:text-white md:dark:hover:text-[#6dab00] dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"> {{ 'NAV.LOGIN' | translate}} </a>
            <a href="/register" class="font-semibold text-gray-900 rounded hover:text-[#6dab00] md:hover:text-[#6dab00] px-3 dark:text-white md:dark:hover:text-[#6dab00] dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"> {{ 'NAV.REGISTER' | translate }} </a>
          </div>
        </li>
        <li *ngIf="authService.isAuthenticated()" class="flex">
          <a (click)="onLogout()" class="font-semibold block py-1 px-1 text-gray-900 rounded hover:text-[#6dab00] md:hover:text-[#6dab00] md:p-0 dark:text-white md:dark:hover:text-[#6dab00] dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700 cursor-pointer">{{'NAV.LOGOUT' | translate}}  </a>
        </li>
        <li>
          <a [routerLink]='["/cart"]' class="flex py-2 px-3 text-gray-900 hover:text-[#6dab00]">
            <i class="fas fa-shopping-cart"></i>
            <span *ngIf="itemCount() > 0" class="ml-2 text-sm bg-[#6dab00] text-white rounded-full px-2 py-1">
              {{ itemCount() }}
            </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<router-outlet></router-outlet>
