<div class="container">
<section class="hero-section">
   <img src="assets/img/v4.jpg" alt="Vista de Alella" class="hero-image" />
   <div class="hero-overlay">
   <p class="hero-text">Descubre las bodegas de DO Alella</p>
   </div>
</section>

<div class="grid">
   <div
   *ngFor="let bodega of bodegas; let i = index"
   class="card"
   (click)="goToBodegaDetail(bodega.id_bodega)"
   tabindex="0"
   >
   <img
      [src]="'http://localhost:3000/' + bodega.image_url"
      alt="{{ bodega.bodega_name }}"
   />
   <h3>{{ bodega.bodega_name }}</h3>
   <p>{{ bodega.bodega_name }}</p>
   </div>
</div>
</div>
