<div class="container">
<section class="bodega-hero">
<div class="bodega-wrapper">
   <img src="assets/img/v4.jpg" alt="Vista de Alella" class="bodega-image" />
   <div class="bodega-overlay"></div>
   <div class="bodega-text">
   <p>Descubre las bodegas de DO Alella</p>
   </div>
</div>
</section>



<div class="grid">
<app-card-design
*ngFor="let bodega of bodegas"
[imageUrl]="'http://localhost:3000/' + bodega.image_url"
[title]="bodega.bodega_name"
[subtitle]="bodega.direction"
(clicked)="goToBodegaDetail(bodega.id_bodega)">
</app-card-design>

</div>
</div>
