@if (bodega) {
<div class="container">
   <div class="bodega-card">
   <div class="bodega-image">
      <img [src]="'http://localhost:3000/' + bodega.image_url" alt="{{ bodega.bodega_name }}">
   </div>
   <div class="bodega-info">
      <div class="bodega-text">
         <h2>{{ bodega.bodega_name }}</h2>
         <p>{{ bodega.description }}</p>
      </div>
      <p class="bodega-direction">{{ bodega.direction }}</p>
   </div>
   </div>
   <div class="bodega-map">
   <div #mapDiv class="map"></div>
   </div>
</div>
} 


