<div class="container  items-center  mx-auto mt-10 px-4">
<h2 class="text-2xl font-bold mb-4">Política de Privacidad</h2>
<p class="text-lg mb-4">
   Esta política de privacidad describe cómo recopilamos, usamos y protegemos la información personal que proporcionas cuando visitas este sitio web.
</p>

<h3 class="font-semibold text-xl mt-4 mb-2">¿Qué información recopilamos?</h3>
<p class="text-sm mb-4">
   Recopilamos información personal que nos proporcionas directamente, como nombre, correo electrónico y cualquier otra información relevante para la prestación de nuestros servicios.
</p>

<h3 class="font-semibold text-xl mt-4 mb-2">¿Cómo usamos tu información?</h3>
<p class="text-sm mb-4">
   Utilizamos la información para ofrecer nuestros servicios, mejorar la experiencia del usuario y mantener la seguridad del sitio web.
</p>

<h3 class="font-semibold text-xl mt-4 mb-2">Protección de tus datos</h3>
<p class="text-sm mb-4">
   Implementamos medidas de seguridad para proteger tu información personal contra accesos no autorizados, alteración o destrucción.
</p>

<p class="text-sm mb-4">
   Al usar este sitio, aceptas nuestra <a href="#" class="text-blue-500">Política de Privacidad</a>.
</p>
</div>
