<!-- <div class="popup-overlay" *ngIf="showPopup">
  <div class="popup-content">
    <h5>TO ACCESS THIS WEBSITE YOU MUST BE OF AGE</h5>
    <p>By accessing this website, you certify that you are of legal age and aware of the regulations on the consumption of alcoholic beverages in your country.</p>
    <button (click)="confirmAge()">Access</button>
  </div>
</div> -->
<!-- age-popup.component.html -->
<div id="age-popup" class="age-popup">
  <div class="popup-content">
    <h2>Подтвердите ваш возраст</h2>
    <p>Вы подтверждаете, что вам есть 18 лет или больше?</p>
    <button (click)="verifyAge()">Да</button>
    <button (click)="denyAge()">Нет</button>
  </div>
</div>
