<div class="container">
  <section class="hero-section">
    <img src="assets/img/eventos.jpg" alt="Vista de Alella" class="hero-image" />
    <div class="hero-overlay">
      <div class="hero-content">
        <h1>{{ "EVENTS.HERO_TITLE" | translate }}</h1>
        <p>{{ "EVENTS.HERO_DESC" | translate }}</p>
      </div>
    </div>
  </section>

  <div class="filters">
    <label for="start-date" class="filter-label">
      {{ "EVENTS.FILTRAR" | translate }}
    </label>

    <input 
      id="start-date"
      type="date" 
      class="filter-input"
      [(ngModel)]="startDate" 
      (change)="filterEvents()">

    <input 
      id="end-date"
      type="date" 
      class="filter-input"
      [(ngModel)]="endDate" 
      (change)="filterEvents()">
  </div>

  <div class="grid">
    @for (event of filteredEvents; track event.id_event) {
      <app-card-design
        [imageUrl]="'http://localhost:3000/' + event.image_url"
        [title]="event.event_name"
        [subtitle]="event.bodega_name"
        [extraInfo]="(event.date | date:'dd-MM-yyyy')"
        (clicked)="goToEventDetail(event.id_event)">
      </app-card-design>
    }
  </div>
</div>
