<div *ngIf="currentQuestionIndex < questions.length; else resultsTemplate" class="flex flex-col items-center justify-center min-h-screen bg-gray-100 p-4">
<!-- Вопрос -->
<h2 class="text-2xl font-bold text-gray-800 mb-6 text-center">
  {{ questions[currentQuestionIndex].question }}
</h2>

<!-- Картинка -->
<div class="mb-6">
  <img [src]="questions[currentQuestionIndex].imageUrl" alt="Ilustración de pregunta"
        class="w-full max-w-2xl h-auto object-cover rounded-lg shadow-md" />
</div>

<!-- Кнопки -->
<div class="flex space-x-4">
  <button
    *ngFor="let option of questions[currentQuestionIndex].options"
    (click)="handleOptionSelect(option)"
    class="bg-[#A67B7B] text-white font-semibold py-2 px-4 rounded hover:bg-[#B88989] transition duration-200"
  >
    {{ option }}
  </button>
</div>
</div>

<!-- Результаты -->
<ng-template #resultsTemplate>
<div class="flex flex-col items-center justify-center min-h-screen bg-gray-100 p-4">
  <h2 class="text-2xl font-bold text-gray-800 mb-6">Resultados</h2>

  <div *ngIf="recommendations && recommendations.length > 0; else noResults" 
        class="flex flex-wrap justify-center gap-6">
    <div *ngFor="let wine of recommendations" class="bg-white p-4 rounded-lg shadow w-80">
      <div class="product-card cursor-pointer">
        <div class="bg-white rounded-lg shadow-lg overflow-hidden">
          <div class="h-80 bg-gray-100 flex items-center justify-center">
            <img
              [src]="'http://localhost:3000/' + wine.image_url"
              [alt]="wine.wine_name"
              class="object-contain w-full h-full"
              (click)="goToWineDetail(wine.id_wine)"
            />
          </div>
          <div class="p-4">
            <h4 class="text-lg font-bold mb-2">{{ wine.wine_name }}</h4>
            <span>{{ wine.bodega_name }}</span>
            <p class="text-md text-green-600 mb-4">{{ wine.price | currency:'EUR' }}</p>
            <button
              (click)="addToCart(wine, 1)"
              class="w-full bg-[#A67B7B] text-white font-semibold py-2 rounded hover:bg-[#B88989] transition duration-200"
            >
              Añadir al carrito
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Если нет рекомендаций -->
  <ng-template #noResults>
    <p class="text-lg text-gray-600 text-center mt-4">
      Tu vino ideal aún no ha llegado a nuestra tienda. Por favor, inténtalo más tarde.
    </p>
  </ng-template>
</div>
</ng-template>
